/* selector de etiqueta */
img{
    border: 5px red solid;
    /* border: 5px red dashed; */
    border-radius: 20px;
}

table{
    border-collapse: collapse;
}

tr, td{
    border: 3px green solid;
}

thead{
    background-color: chocolate;
    color: white;
}

tbody{
    background-color: cornflowerblue;
    color: white;
}

body{
    background-image: url('imagenes/fondo.jpg');
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
}

p{
    background-color: bisque;
}
